<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{{ '/assets/js/blog.js' | relative_url }}"></script>

    <link rel="stylesheet" href="{{ '/assets/css/posts.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% seo %}

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <div>
          <div class="subtitle">tags</div>
          <hr class="md">
          <ul class="tags">
            {% for tag in site.tags %}
            {% assign t = tag | first %}
            {% assign posts = tag | last %}
            <li><span class="tag"><i class="ic ic-tag"></i><a href="/posts">{{t | downcase | replace:" ","-" }}</a></span></li>
            {% endfor %}
          </ul>
        </div>


      </header>
      <section>

        <ul class="post_list">
          {% for post in paginator.posts %}
            <li>
              <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
              <div class="one_line">
                {{ post.one_line | default: post.content }}
              </div>
              <p class="">
                <span class="date">{{ post.date | date: '%B %d, %Y'}}</span>
              </p>
              <div>
                <div class="tags-row-wrapper">
                  <div class="tags-row">
                    {% for tag in post.tags %}
                    <span class="tag"><i class="ic ic-tag"></i>{{ tag }}</span>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </li>
          {% endfor %}
        </ul>

        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
          {% else %}
          <span class="previous">Previous</span>
          {% endif %}
          <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Next</a>
          {% else %}
          <span class="next ">Next</span>
          {% endif %}
        </div>

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Based on <a href="https://github.com/orderedlist">orderedlist</a>'s theme</small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
